*{
    margin: 0;
    padding: 0;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 1rem $rubik;
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

p{
    color: $a-text;
}

@import './index.scss';
@import './cards.scss';

.flex{
    display: flex;
} 
.jcBetween{
    justify-content: space-between;
}
.jcAround{
    justify-content: space-around;
}
.jcCenter{
    justify-content: center;
}
.aiCenter{
    align-items: center;
}
.aiBaseLine{
    align-items: baseline;
}
.aiStrech{
    align-items: stretch;
}

.flexColumn{
    flex-flow: column;
}

.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}

.simpleSection{
    width: 100%;
    max-width: 2000px;
    min-height: 50vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    // background-color: rosybrown;
}

.sectionWrapper{
    width: 50%;
    min-height: 50vh;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    // border-bottom: 2px solid $a-blue-pale;
    margin-bottom: 4rem;
    h1{
        font: 700 4rem $poppins;
        line-height: 1;
        margin: 2rem 0 2rem 0;
    }
    p{
        font: 400 1.4rem $rubik;
        line-height: 2;
        margin: 2rem 0 2rem 0;
    }
}
.sectionImg{
    margin: 2rem 0 3rem 0;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.toLeft{
    position: relative;
    transform: translateX(-10%);
}
.toRight{
    position: relative;
    transform: translateX(10%);
}
.toLeft-sm{
    position: relative;
    transform: translateX(-5%);
}
.toRight-sm{
    position: relative;
    transform: translateX(5%);
}
.toLeft-lg{
    position: relative;
    transform: translateX(-20%);
}
.toRight-lg{
    position: relative;
    transform: translateX(20%);
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 7px); }
	100% { transform: translate(0, -0px); }	
}

@media only screen and (max-width: 420px) {


    .simpleSection{
        width: 100%;
        max-width: 2000px;
        min-height: 50vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
        // background-color: rosybrown;
    }

    .sectionWrapper{
        width: 80%;
        min-height: 50vh;
        margin: 2rem 0;
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        // border-bottom: 2px solid $a-blue-pale;
        margin-bottom: 4rem;
        text-align: left;
        h1{
            font: 700 2.5rem $poppins;
            line-height: 1.2;
            margin: 2rem 0 2rem 0;
        }
        p{
            font: 400 1.4rem $rubik;
            line-height: 2;
            margin: 2rem 0 2rem 0;
        }
    }
    .sectionImg{
        margin: 2rem 0 1rem 0;
        img{
            width: 100%;
        }
    }

    .floating {
        animation-name: none;
    }
    .toLeft-sm, .toLeft, .toLeft-lg, .toRight-sm, .toRight, .toRight-lg{
        position: relative;
        transform: none;
    }

    
}