*{
    margin: 0;
    padding: 0;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font: 1rem $gothic;
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }

@import './index.scss';

.flex{
    display: flex;
} 
.jcBetween{
    justify-content: space-between;
}
.jcAround{
    justify-content: space-around;
}
.jcCenter{
    justify-content: center;
}
.aiCenter{
    align-items: center;
}
.aiBaseLine{
    align-items: baseline;
}
.aiStrech{
    align-items: stretch;
}

.flexColumn{
    flex-flow: column;
}

.ml-1{
    margin-left: 1rem;
}
.ml-2{
    margin-left: 2rem;
}
.ml-3{
    margin-left: 3rem;
}
.ml-4{
    margin-left: 4rem;
}