*{
    margin: 0;
    padding: 0;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    // font: 112.5%/1.45em $gothic;
    font: 1rem $gothic;
    box-sizing: border-box;
    overflow-y: scroll;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
  }
.headerVideo {
    display: block;
    // position: absolute;
    width: 100%;
    height: 100vh;
    outline: none;
    right: 0px;
    bottom: 0px;
    z-index: -1;
}