.titleUnderLine {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: $a-blue;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
  }
}
.titleUnderLineL {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: $a-blue;
    z-index: 1;
    left: 0;
    bottom: -30px;
  }
}

@media only screen and (max-width: 640px) {
  .titleUnderLine {
    &::after {
      content: "";
      position: absolute;
      width: 30%;
      height: 5px;
      background-color: $a-blue;
      z-index: 1;
      left: 0;
      // right: 0;
      transform: translateX(0);
      bottom: -30px;
    }
  }
}
