.navHeader{
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: all ease-in-out .3s;
    // padding: .7rem 0;
    height: 100px;
    &:hover{
        background-color: white;
        box-shadow: 0 12px 2rem -1rem rgba($color: #000000, $alpha: .15);
        .navLink{
            color: $a-black !important;
        }
        .logo{
            fill: $a-black !important;
        }
    }
}
.scrolledNav{
    background-color: rgba($a-white, $alpha: .75);
    transition: all ease-in-out .2s;
    box-shadow: 0 12px 2rem -1rem rgba($color: #000000, $alpha: .15);
    backdrop-filter: saturate(180%) blur(20px);
    height: 70px;
    .navLink{
        color: $a-black !important;
    }
    .logo{
        fill: $a-black !important;
    }
    // .logo{
    //     width: 150px;
    // }
}

@media only screen and (max-width: 640px) {

    .navHeader{
        height: 70px;
    }
    .scrolledNav{
        backdrop-filter: saturate(180%) blur(20px);
        height: 65px;
    }
}