.mainNav{
    width: 90%;
    max-width: 1200px;
    color: $a-black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logoContainer{
    width: 18%;
}

.logo{
    transition: all ease-in-out .2s;
    margin-top: 10px;
    width: 200px;
}

.navLinkList{
    display: flex;
    justify-content: center;
}
.navLink{
    background: transparent;
    padding: .3rem;
    margin: 0 1.4rem;
    transition: all ease-in-out .3s;
    color: $a-black;
    font: 400 1.1rem $rubik;
    text-decoration: none;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 0.2rem;
        background-color: $a-blue;
        left: 0;
        bottom: 0;
        transform: scale(0, 1);
        transform-origin: 100% 0%;
        transition: transform ease-in-out .175s;
    }
    &:hover{
        color: $a-blue;
        &::after{
            transform: scale(1, 1);
        }
    }
    
}
.navLinkBtn{
    background-color: $a-blue;
    border-radius: 7px;
    padding: .7rem 1rem;
    margin: 0 1.4rem;
    transition: all ease-in-out .3s;
    color: $a-white;
    font: 400 1.1rem $rubik;
    text-decoration: none;
    position: relative;
    transition: all ease-in-out .3s;
    &:hover{
        background-color: $a-blue-hover;
        box-shadow: $btn-shadow-blue
    }
}

#hamburgerMenu{
    display: none;
}
.mainNavResponsive{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    // left: -50%;
    // bottom: -50%;
    // transform: translate(50%,50%);
    transition: all ease-in-out .3s;
    top: 100%; left: 0; bottom: 0; right: 0;
    height: 0vh;
    z-index: 1000;
    border-radius: 0 0 24px 24px;
    box-shadow: 0px 1.3rem 2rem -1rem rgba($a-black, $alpha: .2);

}

.navLinkListResponsive{
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    div:first-child{
        margin-top: 6rem;
    }
    div:not(:first-child){
        margin-top: 2rem;
    }

    div:last-child{
        margin-top: 3rem;
        // position: absolute;
        // bottom: -30%;
        // right: 0;
    }

    div{
        // width: 60%;
        text-align: center;
        border-radius: 3px;
    }
}

.navLinkResponsive{
    // background-color: paleturquoise;
    font: 600 2.5rem $rubik;
    // letter-spacing: 2px;
    color: $a-black;
    text-decoration: none;
}

.navLinkBtnResponsive{
    padding: .7rem 3rem;
    font: 600 2.2rem $rubik;
    color: $a-white;
    text-decoration: none;
    background-color: $a-blue;
    border-radius: 7px;
    box-shadow: 0 12px 2rem -1rem rgba($a-blue, $alpha: 1.0);
}


@media only screen and (max-width: 420px) {

    #hamburgerMenu{
        display: block;
    }
    .navLinkList{
        display: none;
    }

    .mainNav{
        width: 90%;
    }

    .logoContainer{
        width: 70%;
    }
    
    .logo{
        transition: all ease-in-out .2s;
        margin-top: 10px;
        width: 150px;
    }
    .mainNavResponsive{
        display: flex;
        position: absolute;
        justify-content: center;
        z-index: 999;
        height: 0vh;
        background-color: $a-white; 
    }
    .mainNavResponsiveActive{
        height: 100vh;
    }
    
}
