footer{
    background-color: lighten($color: #000000, $amount: 95);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
    .footerContent{
        // background-color: turquoise;box-sizing: border-box;

        width: 90%;
        max-width: 1200px;
        margin: 3rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        // justify-content: center;
        .ATSign{
            p{
                padding: .2rem 0;
                font: 300 1.1rem $poppins;
                width: 90%;
                color: $a-text;
            }
            img{
                margin-top: 1rem;
            }
        }
        
        h1{
            position: relative;
            margin-bottom: 1rem;
            &::before{
                content: "";
                position: absolute;
                bottom: -7px;
                width: 50%;
                height: 2px;
                background-color: $a-blue;
            }
        }
        p{
            text-align: left;
            color: $a-gray;
            // background-color: lighten($color: #000000, $amount: 70);
            font: 400 1rem $gothic;
            padding: 1rem 0;
        }
        .footerColumn{
            align-self: stretch;
            box-sizing: border-box; 
            flex: 1 0 25%;
            // background-color: #d7ff96;
            // flex-basis: 30%;
            padding: 0 1.5rem;
            // margin: 0 1rem;
            ul{
                list-style: none;
                li{
                    padding: .5rem 0;
                    i{
                        margin-right: 1rem;
                    }
                    a{
                        font: 400 1.1rem $poppins;
                        text-decoration: none;
                        color: $a-text;
                        transition: all ease-in-out .3s;
                        &:hover{
                            color: $a-blue;
                        }
                    }
                }
            }
        }
    }

    .copyRight{
        text-align: center;
        color: $a-gray;
        width: 100%;
        background-color: lighten($color: #000000, $amount: 90);
        font: 400 .9rem $rubik;
        padding: 1rem 0;
    }

    .socialList{
        ul{
            li{
                display: inline-block;
                a{
                    i{
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    
}

@media only screen and (max-width: 420px){
    footer{
        overflow: hidden;
    }
    .footerColumn:first-child{
        order: 3;
    }
    .footerColumn{
        margin-top: 2rem;
    }
    // .ATSign{
    //     p{
    //         width: 95% !important;
    //         margin: 0;
    //     }
    // }
    // footer{
    //     margin-top: 5rem;
    //     width: 100%;
    //     height: auto;
    //     background-color: palegreen;
    
    //     .copyRight{
    //         text-align: center;
    //         color: $a-gray;
    //         width: 100%;
    //         background-color: lighten($color: #000000, $amount: 90);
    //         font: 400 .9rem $rubik;
    //         padding: 1rem 0;
    //     }
    
    //     .socialList{
    //         ul{
    //             li{
    //                 display: inline-block;
    //                 a{
    //                     i{
    //                         font-size: 1.5rem;
    //                     }
    //                 }
    //             }
    //         }
    //     }
        
    // }
    // .footerContent{
    //     background-color: turquoise;
    //     width: 100%;
    //     margin: 3rem 0;  
    // }
    // .footerColumn{
    //     flex: 1 1 100%;
    //     padding: 0 1.5rem;
    //     ul{
    //         list-style: none;
    //         li{
    //             padding: .5rem 0;
    //             i{
    //                 margin-right: 1rem;
    //             }
    //             a{
    //                 font: 400 1.1rem $poppins;
    //                 text-decoration: none;
    //                 color: $a-text;
    //                 transition: all ease-in-out .3s;
    //                 &:hover{
    //                     color: $a-blue;
    //                 }
    //             }
    //         }
    //     }
    // }
    
}